{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/about_us.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<header>
    <div class="text">
        ABOUT
        US<br>
        <div class="mainimg">
            <img src="{{ url_for('static', filename='images/aboutme.png') }}" alt="about_us" height="500px" width="600px">
        </div>
    </div>
    <div class="contentcontainer">
        <div class="content">
            The Institution of Engineers (India) [IEI] is a statutory body to promote and advance engineering and technology, established in 1920 and incorporated by Royal Charter in 1935. It is the largest multi-disciplinary professional body of engineers encompassing 15 engineering disciplines with a membership of more than 820 thousand, serving the nation for more than 9 decades. The IEI has its headquarters located in Kolkata with a national presence through more than 100 Centres and several Overseas Chapters, Foras, and Organs. IEI (Institution of Engineers India) Thapar Chapter is a technical society of Thapar University which organizes various workshops, technical exams, and lecture series by industry experts. This society is open for all technical branches of engineering.
    </div> 
</div>
</header>
   

{% endblock %}
