<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard - Our Events</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h1>Our Events</h1>
    </header>

    <main>
        <section class="event-category">
            <h2>Hackathons</h2>
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe tempore quisquam, quasi obcaecati, asperiores explicabo rem facilis facere ad pariatur voluptate error accusantium maiores maxime hic! Minus delectus repellendus amet.</p>
            <img src="{{ url_for('static', filename = 'images/image1.png') }}" alt="Hackathon event image" class="event-image">
        </section>

        <section class="event-category">
            <h2>Workshops</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate illum laboriosam animi, voluptatem quisquam architecto suscipit nemo! Adipisci, quasi repudiandae magnam deleniti doloremque quam cumque quisquam mollitia excepturi omnis minima!</p>
            <img src="{{ url_for('static', filename = 'images/image2.png') }}" alt="Workshop event image" class="event-image">
        </section>

        <section class="event-category">
            <h2>Competitive Events</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque quasi sequi obcaecati eveniet dolores alias magnam eaque minima aperiam quis perferendis hic, deserunt veniam ullam quae tenetur labore omnis debitis.</p>
            <img src="{{ url_for('static', filename = 'images/gallery5.JPG') }}" alt="Competitive event image" width="800" class="event-image">
        </section>
    </main>
</body>

</html>
