{% extends "events.html" %}

{% block content %}
<!--  <!DOCTYPE html>
<html lang="en"> -->
<head>
    <title>Society's Resolution</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/osr.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="text">
            OUR<br>
            SOCIETY'S<br>
            RESOLUTION
            <div class="mainimg">
                <img src="{{ url_for('static', filename = 'images/home1.jpeg') }}" alt="home" height="400px" width="650px">
            </div>
        </div>
        <div class="contentcontainer">
            <div class="content">
            hello Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatibus debitis voluptatem hic provident harum illum rerum rem porro. Nostrum id ducimus modi aliquam esse eaque voluptas maxime voluptatum commodi. Voluptatibus explicabo iusto sit similique maxime voluptas eius natus quis, accusantium itaque ipsum pariatur culpa sequi, quaerat at tempore. Dolorem reprehenderit laboriosam hic, consequuntur quam provident repellendus sequi. Quam, minus. Error quae amet quos repellat sit! Ut eveniet aperiam adipisci ipsum temporibus impedit nesciunt voluptates. Voluptatibus error, nostrum nemo quos harum necessitatibus blanditiis, praesentium mollitia earum voluptate consectetur officia aut? Reprehenderit ea architecto laudantium sint et doloribus ad quam eius.
        </div> 
        <div class="img">
            <img src="{{ url_for('static', filename = 'images/about.jpeg') }}" alt="iei" height="620px" width="500px"> 
        </div>
    </div>
   
    </header>
</body>
{% endblock %}
<!-- </html> -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='osr.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="text">
            {{ title_line1 }}<br>
            {{ title_line2 }}<br>
            {{ title_line3 }}
        </div>
        <div class="contentcontainer">
            <div class="content">
                {{ content_text }}
            </div> 
            <div class="img">
                <img src="{{ url_for('static', filename='imgs/about.jpeg') }}" alt="iei" height="600px" width="500px"> 
            </div>
        </div>
        <div class="mainimg">
            <img src="{{ url_for('static', filename='imgs/home1.jpeg') }}" alt="home" height="350px" width="650px">
        </div>
    </header>
    <footer></footer>
</body>
</html> -->
