{% extends "base.html" %}

{% block title %}Sponsors Section{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/sponsors.css') }}">
{% endblock %}

{% block content %}
<body>
    <section class="sponsors">
        <h1>SPONSORS</h1>
        <div class="slider">
            <div class="slide-track">
                <div class="slide">
                    <img src="{{ url_for('static', filename = 'images/cola.jpeg') }}" alt="Sponsor 1">
                </div>
                <div class="slide">
                    <img src="{{ url_for('static', filename = 'images/cola.jpeg') }}" alt="Sponsor 2">
                </div>
                <div class="slide">
                    <img src="{{ url_for('static', filename = 'images/cola.jpeg') }}" alt="Sponsor 3">
                </div>
                <div class="slide">
                    <img src="{{ url_for('static', filename = 'images/cola.jpeg') }}" alt="Sponsor 4">
                </div>
                <div class="slide">
                    <img src="{{ url_for('static', filename = 'images/cola.jpeg') }}" alt="Sponsor 5">
                </div>
                <!-- Duplicate slides for seamless scrolling -->
                <div class="slide">
                    <img src="{{ url_for('static', filename = 'images/cola.jpeg') }}" alt="Sponsor 1">
                </div>
                <div class="slide">
                    <img src="{{ url_for('static', filename = 'images/cola.jpeg') }}" alt="Sponsor 2">
                </div>
                <div class="slide">
                    <img src="{{ url_for('static', filename = 'images/cola.jpeg') }}" alt="Sponsor 3">
                </div>
                <div class="slide">
                    <img src="{{ url_for('static', filename = 'images/cola.jpeg') }}" alt="Sponsor 4">
                </div>
                <div class="slide">
                    <img src="{{ url_for('static', filename = 'images/cola.jpeg') }}" alt="Sponsor 5">
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
