{% extends "base.html" %}

{% block title %}Team Crew{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title">TEAM CREW</h1>
        <div class="team-section">
            <div class="team-box">
                <div class="image">
                    <!-- style="background-image: url('{{ url_for('static', filename='images/tech_team.jpg') }}');" -->
                </div>
                <p class="team-name">Tech Team</p>
            </div>
            <div class="team-box">
                <div class="image">
                    <!-- style="background-image: url('{{ url_for('static', filename='images/design_team.jpg') }}');"> -->
                    
                </div>
                <p class="team-name">Design Team</p>
            </div>
        </div>
    </div>
{% endblock %}
